__pycache__/
*.py[cod]

.idea
.DS_Store

build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
*.egg
*.whl
.coverage*
MANIFEST
histoqc/tests/data/*

.venv
venv/
htmlcov/

histoqc/_version.py
environment.yml


# local backup files
histoqc/*.bak*
histoqc/*bak_*
