<!doctype html>
<html>

<head>
  <title>HistoQC UI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='slickgrid_libs/slickgrid/slick.grid.css')}}"
    type="text/css" />
  <link rel="stylesheet" href="{{url_for('static', filename='slickgrid_libs/slickgrid/jquery-ui-1.8.16.custom.css')}}"
    type="text/css" />
  <link rel="stylesheet" href="{{url_for('static', filename='slickgrid_libs/slickgrid/examples.css')}}"
    type="text/css" />
  <link rel="stylesheet" href="{{url_for('static', filename='slickgrid_libs/slickgrid/slick.pager.css')}}"
    type="text/css" />

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='libs/bootstrap/css/bootstrap.css')}}" />
  <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='libs/bootstrap/bootstrap.min.css')}}" /> -->

  <script src="{{url_for('static', filename='slickgrid_libs/slickgrid/jquery-1.7.min.js')}}"></script>
  <script src="{{url_for('static', filename='slickgrid_libs/slickgrid/jquery.event.drag-2.0.min.js')}}"></script>
  <script src="{{url_for('static', filename='slickgrid_libs/slickgrid/slick.core.js')}}"></script>
  <script src="{{url_for('static', filename='slickgrid_libs/slickgrid/slick.grid.js')}}"></script>
  <script src="{{url_for('static', filename='slickgrid_libs/slickgrid/slick.pager.js')}}"></script>
  <script src="{{url_for('static', filename='slickgrid_libs/slickgrid/slick.dataview.js')}}"></script>
  <!-- End SlickGrid -->

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slickgrid_libs/parcoords.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slickgrid_libs/index.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slickgrid_libs/style.css')}}">
  <style>
    body,
    html {
      margin: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      font-size: 12px;
      background-color: aliceblue;
    }

    body {
      overflow: scroll
    }

    .plot {
      position: absolute;
    }

    #scatter-card {
      height: 500px;
    }

    #plot-canvas {
      z-index: 0;
    }

    #lasso-canvas {
      z-index: 1;
    }

    #axis-svg {
      z-index: 0;
    }
    

    #scatter-parent {
      position: relative;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .tick line {
      opacity: 0.2;
    }
  </style>
  <script src="{{url_for('static', filename='slickgrid_libs/d3.v5.min.js')}}"></script>
  <script src="{{url_for('static', filename='slickgrid_libs/parcoords.standalone.js')}}"></script>
  <script src="{{url_for('static', filename='slickgrid_libs/divgrid.js')}}"></script>
  <script src="{{url_for('static', filename='js/image_init.js')}}"></script>
  <script src="{{url_for('static', filename='libs/bootstrap/js/bootstrap.min.js')}}"></script>
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">
        <h1>HistoQC</h1>
      </span>
      <span>
        <label>
          <input class="btn btn-primary btn-lg" id="upload-input" type="file" accept=".tsv" multiple>
        </label>
      </span>
      <span>
        <button type="button" id="modal-toggle" class="btn btn-primary btn-lg">CohortFinder</button>
      </span>
    </div>
  </nav>
  <div class="container-fluid">
    <!-- Modal -->
    <div class="modal" id="cf-params-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cohort Finder Parameters</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Modal Body (Form) -->
          <div class="modal-body">
            <!-- Your form elements go here -->
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1"># of clusters</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="3" name="numClusters">
              </div>
              <!-- Add more form fields as needed -->
              <!-- Add a slider from 0 to 100 -->
              <div class="form-group">
                <label for="slider">Test set percent</label>
                <input type="range" class="form-control-range" id="slider" min="0" max="100" value="20" name="testSetPercent">
              </div>
              <!-- Add this code inside the form element in the modal body -->
              <div class="form-group">
                <label for="features-select">Select Features:</label>
                <select multiple class="form-control" id="features-select" name="featuresSelected">
                  <option value="feature1">Feature 1</option>
                  <option value="feature2">Feature 2</option>
                  <option value="feature3">Feature 3</option>
                  <!-- Add more options as needed -->
                </select>
              </div>

              <!-- Modal Footer with Submit button -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <div class="card" style="height: 30vh;">
          <!-- THE PARALLEL COORDINATES PLOT -->
          <div class="card-body">
            <div id="parcoords-parent">
              <div id="example" class="parcoords"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6 overflow-auto">
        <div class="card">
          <div class="card-body">
            <!-- THE SLICK GRID -->
            <div id="slick-parent">
              <div id="pager"></div>
              <div id="grid"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card" id="scatter-card">
          <div class="card-body">
            <!-- THE SCATTER PLOT -->
            <div id="scatter-parent">
              <canvas id="lasso-canvas" class="plot"></canvas>
              <svg id="axis-svg" class="plot"></svg>
              <canvas id="plot-canvas" class="plot"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <!-- THE IMAGE PANE -->
            <div id="image-view" class="base-view-outer bg-light">
              <div id="image-control-group" class="control-group btn-group btn-group-sm">
                <div id="img-select-button" class="btn-group btn-group-sm">
                  <select id="img-select" class="selectpicker show-tick" data-size="10" data-style="btn-dark btn-sm"
                    data-width="150px"></select>
                  <select id="comparison-select" class="selectpicker" data-size="10" data-style="btn-dark btn-sm"
                    data-width="150px"></select>
                </div>
                <button id="exit-image-select-view-btn" class="btn btn-dark btn-sm">back</button>
              </div>
              <div id="image-container" class="base-view-inner">
                <div id="overview-gallery"></div>
                <div id="select-image-view">
                  <div id="select-image-container"></div>
                  <div id="select-candidate-container"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>


<!-- SlickGrid -->

<!-- <div id="upload-button" class="container pt-md-5 text-center" style="display:block;">
  <label>
    <span class="btn btn-primary btn-lg">
      View Results <input id="upload-input" type="file" accept=".tsv" multiple>
    </span>
  </label>
</div>

<div id="example" class="parcoords"></div>
<div id="slick-container">
  <div id="pager"></div>
  <div id="grid"></div>
</div> -->

<!-- All components pertaining to the image gallery. -->


<script src="{{url_for('static', filename='js/global_config.js')}}"></script>
<script src="{{url_for('static', filename='js/global_vars.js')}}"></script>
<script src="{{url_for('static', filename='js/slickgrid.js')}}" id="brushing"></script>
<script src="{{url_for('static', filename='js/scatterplot.js')}}"></script>
<script src="{{url_for('static', filename='js/histoqc.js')}}"></script>
<script src="{{url_for('static', filename='js/cohortfinder.js')}}"></script>